<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- dubbo -->
	<dubbo:application name="application1"/>
	<dubbo:registry id="dubboRegistry" address="${dubbo.registry.address}"/>

    <dubbo:service interface="cn.com.chinabank.shared.service.DubboSampleService" ref="dubboSampleService" timeout="9000"/>
	
	<!--<dubbo:annotation package="cn.com.chinabank.app1" />-->
   <!-- <dubbo:service protocol="learn" interface="cn.com.chinabank.shared.service.DubboSampleService" ref="dubboSampleService" version="1.0.0"/>-->

    <dubbo:service interface="cn.com.chinabank.shared.service.CallbackService" ref="callbackService" connections="1" callbacks="1000">
        <dubbo:method name="addListener">
            <dubbo:argument index="1" callback="true" />
            <!--也可以通过指定类型的方式-->
            <!--<dubbo:argument type="com.demo.CallbackListener" callback="true" />-->
        </dubbo:method>
    </dubbo:service>
</beans>
